body {
    color: #555555;
}

.order-table {
    margin-bottom: 0px;
}

.panel-default > .panel-heading {
    color: #555555;
    background-image: linear-gradient(to bottom, #FFFFFF, #F6F6F6);
}

.nav > li > a:hover, .nav > li > a:focus {
    background-image: linear-gradient(to bottom, #E6E6E6, #F2F2F2);
}

.nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus {
    border: 1px solid #D4D4D4;
}

.detail-div-row {
    padding: 5px 0;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert.row-alert {
    margin-top: 10px;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 18px;
    margin-left: 12px;
}

.sidebar-collapse {
    padding: 0px 10px;
    margin-bottom: 15px;
}

.sidebar-collapse h2 {
    font-size: 16px;
    text-align: center;
    margin: 15px;
}

.nav-side-menu {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    font-size: 14px;
}

.nav-side-menu li a {
    display: block;
    padding: 8px;
}

.nav-side-menu.nav > li > a:hover, .nav-side-menu.nav > li > a:focus {
    background-image: linear-gradient(to bottom, #EEEEEE, #FBFBFB);
}

.nav-side-menu li a span {
    display: inline-block;
}

.navbar-top-links .dropdown-crypteon-links {
    right: auto;
    left: 0;
}

.coin {
    color: #333333;
    width: 27%;
}

.rate {
    width: 37%;
    text-align: center;
}

.too-long-break {
    word-wrap: break-word;
}

.up {
    color: #47A447;
}

.down {
    color: #D2322D;
}

.same {
    color: #777777;
}

.modal-body {
    padding: 20px 30px;
}

.modal-dialog .loading-screen {
    padding: 20px;
}

.navbar-top-links .dropdown-menu li a {
    padding: 10px 20px;
}

.panel > .table-bordered > thead > tr:first-child > th {
    border-bottom: 1px solid #DDDDDD;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 280px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 280px;
        margin-top: 0px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}