body {
    padding-top: 50px;
}

.bold-font {
    font-weight: bold;
}

.form-signup, .form-signin {
    max-width: 420px;
    margin: 10px auto;
}

.detail-modal {
    font-weight: bold;
}

.instruction-div {
    padding: 10px 0;
}

.image-div {
    padding: 5px 0;
}

.form-order {
    /*max-width: 400px;*/
}

.temp { /* Just temporary styling before graph is done */
    height: 400px;
    font-size: 50px;
    border: 10px solid #BCE8F1;
}

.main-nav-bar {
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    border-bottom: 1px solid #D4D4D4;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.main-title {
    font-size: 26px;
    padding-left: 5px;
    padding-bottom: 20px;
}

.margin-top-medium {
    margin-top: 20px;
}

.setting-panel-heading {
    font-weight: bold;
}

.crypteon-twitter-widget {
    height: 425px;
    margin-bottom: 20px;
}

.crypteon-chart {
    padding: 5px 0;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 400px;
}

.mockup {
    height: 350px;
}

.forgot-password {
    margin-top: 12px;
    margin-right: 15px;
}

.graph {

}

.div-about-title {
    font-size: 16px;
    padding: 12px;
}

.div-form-top {
    margin-top: 10px;
}

.div-form-title {
    font-size: 18px;
    padding: 14px;
}

.div-table-title {
    font-size: 26px;
    padding: 10px 0 20px;
}

.div-table {
    max-height: 300px;
    overflow: auto;
}

.div-table.div-table-no-max-height {
    max-height: none;
}

.div-table .glyphicon.sort-icon {
    left: 2px;
    top: 2px;
}

.div-table .table tr td {
    vertical-align: middle;
}

.history {

}

.basic-mainframe {
    padding-top: 10px;
    padding-bottom: 10px;
}

form div.popover {
    display: block;
    position: relative;
    margin-bottom: 10px;
    max-width: none;
}

form .popover-title {
    color: #A94442;
}

.order-table tr:hover td {
    color: #17CFB6;
    cursor: pointer;
}

.ul-form-panel {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.li-form-panel {
    padding-bottom: 5px;
}

.li-form-panel span {
    display: inline-block;
    min-width: 200px;
}

.li-form-panel span.span-form-panel {
    min-width: 200px;
}

span.market-data {
    display: inline-block;
}

span.market-data-label {
    margin-left: 10px;
    /*margin-right: 20px;*/
    min-width: 120px;
}

span.market-data-value {
    margin-left: 10px;
    font-weight: bold;
    color: #47A447;
}